---
import GradientDivider from "./GradientDivider.astro";
import MapSVG from "./MapSVG.astro";

const bubles_stats = [
  {
    id: "bol-bubble",
    imgSrc: "images/SedeCartagena.png",
    title: "Cartagena",
    top: "xl:top-[20rem]",
    left: "xl:-left-44",
    dividers: [
      {
        top: "sm:hidden md:hidden xl:top-[3px]",
        left: "",
        right: "xl:-right-28",
        rotate: "-rotate-90",
        height: "min-h-[164px]",
      },
      {
        top: "xl:-top-[95px]",
        right: "xl:-right-[15rem]",
        rotate: "-rotate-[-25deg]",
        height: "min-h-[190px]",
      },
    ],
  },
  {
    id: "ant-bubble",
    imgSrc: "images/SedeMedellin.jpg",
    title: "Medellin",
    top: "xl:top-0",
    left: "xl:-left-32",
    dividers: [
      {
        top: "sm:hidden md:hidden xl:top-[35px]",
        right: "xl:-right-32",
        left: "",
        rotate: "-rotate-90",
        height: "min-h-[130px]",
      },
      {
        top: "xl:top-[96.5px]",
        right: "xl:-right-[13rem]",
        left: "",
        rotate: "-rotate-[7deg]",
        height: "min-h-[300px]",
      },
    ],
  },
  {
    id: "atl-bubble",
    imgSrc: "images/SedeBarranquilla.webp",
    title: "Barranquilla",
    top: "xl:top-0",
    left: "xl:-right-10",
    dividers: [
      {
        top: "sm:hidden md:hidden xl:-top-[28px]",
        right: "",
        left: "xl:-left-40",
        rotate: "-rotate-90",
        height: "min-h-[288px]",
      },
      {
        top: "xl:top-[80.5px]",
        right: "",
        left: "xl:-left-[22.5rem]",
        rotate: "-rotate-[-60deg]",
        height: "min-h-[138px]",
      },
    ],
  },
];
---

<div class="w-full mt-8">
  <div class="relative grid items-center mx-4 floating xl:relative">
    <MapSVG />

    {
      bubles_stats.map(({ id, imgSrc, title, top, left, dividers }) => (
        <div
          class={`
            xl:absolute relative opacity-100 visible xl:invisible xl:opacity-0  [transition:visibility_0.15s_ease-out,opacity_0.2s_ease-in-out] grid grid-cols-1 lg:w-[350px] lg:h-[200px]  ${top} ${left}`}
          id={id}
        >
          <img
            class="xl:absolute z-20 mx-auto sm:max-w-[400px] md:max-w-[600px] lg:max-w-[450px] px-4 aspect-video object-cover"
            src={imgSrc}
            alt="Elyon Yireh"
          />
          <div class="relative w-full px-4 xl:absolute xl:top-64">
            <h3
              aria-label={`Sede ${title}`}
              class="py-4 text-4xl mb-2 text-center font-designer text-[#0f4] [text-shadow:1px_1px_20px_#af4]"
            >
              {title}
            </h3>
            <GradientDivider color="green" />
            <p class="xl:absolute relative px-4 text-center mt-2 text-lg [text-shadow:0px_0px_10px_#fff] my-28 text-white">
              Horarios de Atención: Lunes a Sabado 8:00 A.M. - 6:00 P.M.
              <br />
              <br />
              Dirección: Camino del Medio Cl 31 A n° 46 -13 Avenida Pedro de
              Heredia
              <br />
              <br />
              WhatsApp: 316 2877 364
            </p>
          </div>
          {dividers.map(({ top, right, left, rotate, height }) => (
            <span
              class={`w-1 ${height} border-2 border-white/0 z-20 border-dashed hidden xl:border-white xl:block absolute ${top} ${right || left} ${rotate}`}
            />
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  .show-bubble {
    visibility: visible;
    opacity: 1;
  }
</style>

<script>
  const locations = [
    { elementId: "COBOL", bubbleId: "bol-bubble" },
    { elementId: "COANT", bubbleId: "ant-bubble" },
    { elementId: "COATL", bubbleId: "atl-bubble" },
  ];

  locations.forEach(({ elementId, bubbleId }) => {
    const element = document.getElementById(elementId);
    const bubble = document.getElementById(bubbleId);

    element?.addEventListener("mouseover", () => {
      bubble?.classList.add("show-bubble");
    });

    element?.addEventListener("mouseleave", () => {
      bubble?.classList.remove("show-bubble");
    });
  });
</script>
