---
import GradientDivider from "./GradientDivider.astro";
import MapSVG from "./MapSVG.astro";
import VerticalDivider from "./VerticalDivider.astro";

const bubles_stats = [
  {
    id: "bol-bubble",
    imgSrc:
      "https://lh3.googleusercontent.com/p/AF1QipM9Zi8pGneU-Tx3LSNT-BuiHC5HJPjFA8Sdr6zV=s680-w680-h510",
    title: "Cartagena",
    top: "top-[20rem]",
    left: "-left-44",
    dividers: [
      {
        top: "top-[3px]",
        left: "",
        right: "-right-28",
        rotate: "-rotate-90",
        height: "min-h-[164px]",
      },
      {
        top: "-top-[95px]",
        right: "-right-[15rem]",
        rotate: "-rotate-[-25deg]",
        height: "min-h-[190px]",
      },
    ],
  },
  {
    id: "ant-bubble",
    imgSrc:
      "https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/316316246_10159261580568811_1648662685467780524_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHt6Mlsb6YSErusoE6LEF0R2vQu4M0JwfHa9C7gzQnB8ZR-PpriFfOB5M45Bx39yXemjsTMjc0Dk-LbFTyidL6w&_nc_ohc=dLPJBMVnv6MQ7kNvgFkfDFb&_nc_zt=23&_nc_ht=scontent.fctg3-1.fna&_nc_gid=AMDytaRYn_Gb2tdPd6TKPyo&oh=00_AYAHYwMehfPT2AlmGry5ej7803FyShWrip8bsFXFLFWupA&oe=672ED4B4",
    title: "Medellin",
    top: "top-0",
    left: "-left-32",
    dividers: [
      {
        top: "top-[35px]",
        right: "-right-32",
        left: "",
        rotate: "-rotate-90",
        height: "min-h-[130px]",
      },
      {
        top: "top-[96.5px]",
        right: "-right-[13rem]",
        left: "",
        rotate: "-rotate-[7deg]",
        height: "min-h-[300px]",
      },
    ],
  },
  {
    id: "atl-bubble",
    imgSrc:
      "https://static.wixstatic.com/media/e37986_a5dac02be1224f7e98fa3673fa5a104d~mv2.jpg/v1/crop/x_0,y_43,w_800,h_565/fill/w_560,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/elyon-patio.jpg",
    title: "Barranquilla",
    top: "top-0",
    left: "-right-10",
    dividers: [
      {
        top: "-top-[28px]",
        right: "",
        left: "-left-40",
        rotate: "-rotate-90",
        height: "min-h-[288px]",
      },
      {
        top: "top-[80.5px]",
        right: "",
        left: "-left-[22.5rem]",
        rotate: "-rotate-[-60deg]",
        height: "min-h-[138px]",
      },
    ],
  },
];
---

<div class="relative rotate">
  <div class="lg:floating sm:flex sm:flex-col mx-4">
    <MapSVG />

    {
      bubles_stats.map(({ id, imgSrc, title, top, left, dividers }) => (
        <div
          class={`lg:absolute sm:relative sm:visible sm:opacity-100 lg:invisible lg:opacity-0 [transition:visibility_0.15s_ease-out,opacity_0.2s_ease-in-out] lg:w-[350px] ${top} ${left} lg:h-[200px]`}
          id={id}
        >
          <img
            class="w-full px-4 aspect-video object-cover"
            src={imgSrc}
            alt=""
          />
          <div class="lg:absolute sm:relative top-56 w-full">
            <h3 class="py-4 text-4xl mb-2 text-center font-designer text-[#0f4] [text-shadow:1px_1px_20px_#af4]">
              {title}
            </h3>
            <GradientDivider color="green" />
            <p class="lg:absolute text-center mt-2 text-lg [text-shadow:0px_0px_10px_#fff] my-28 text-white">
              Horarios de Atención: Lunes a Sabado 8:00 A.M. - 6:00 P.M.
              <br />
              <br />
              Dirección: Camino del Medio Cl 31 A n° 46 -13 Avenida Pedro de
              Heredia
              <br />
              <br />
              WhatsApp: 316 2877 364
            </p>
          </div>
          {dividers.map(({ top, right, left, rotate, height }) => (
            <div
              class={`w-1 ${height} border-2 border-dashed lg:block sm:hidden absolute ${top} ${right || left} ${rotate}`}
            />
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  .show-bubble {
    visibility: visible;
    opacity: 1;
  }
</style>

<script>
  const locations = [
    { elementId: "COBOL", bubbleId: "bol-bubble" },
    { elementId: "COANT", bubbleId: "ant-bubble" },
    { elementId: "COATL", bubbleId: "atl-bubble" },
  ];

  locations.forEach(({ elementId, bubbleId }) => {
    const element = document.getElementById(elementId);
    const bubble = document.getElementById(bubbleId);

    element?.addEventListener("mouseover", () => {
      bubble?.classList.add("show-bubble");
    });

    element?.addEventListener("mouseleave", () => {
      bubble?.classList.remove("show-bubble");
    });
  });
</script>
